#sw-custom-form
  = form_for @soloist_script, :id => "new_soloist_script" do |f|
    #sw-customizer
      = render "soloist_scripts/error_messages"

      - @recipe_groups.each do |recipe_group|
        .category-field
          .category-description
            %h4= recipe_group.name
            %p= recipe_group.description

          %fieldset.recipe-selector
            - recipe_group.recipes.each do |recipe|
              .recipe-pair
                = check_box_tag :recipe_ids, recipe.id, @soloist_script.recipes.include?(recipe), :name => 'soloist_script[recipe_ids][]', :id => "recipe_ids_#{recipe.id}"
                = label_tag "recipe_ids_#{recipe.id}", recipe.name
                = link_to "view details", "#", :class => "recipe-details",
                  :data => { :details => { :title => recipe_details_title(recipe), :description => recipe_details_description(recipe) } }


      .submit_button
        = f.submit "create my script", :class => "awesome"