#sw-custom-form
  = form_tag soloist_scripts_path, :id => "new_soloist_script" do
    #sw-customizer
      = render "soloist_scripts/error_messages"

      - Recipe.all.group_by(&:recipe_group).each do |recipe_group, recipes|
        .category-field
          .category-description
            %h4= recipe_group.name
            %p= recipe_group.description

          %fieldset.recipe-selector
            - recipes.each do |recipe|
              .recipe-pair
                = check_box_tag 'soloist_script[recipe_ids][]', recipe.id, true
                = label_tag :recipe_ids, recipe.name

      .submit_button
        = submit_tag "create my script", :class => "awesome"