#sw-custom-form
  = form_for @soloist_script, :id => "new_soloist_script" do |f|
    #sw-customizer
      = render "soloist_scripts/error_messages"

      - @recipe_groups.each do |recipe_group|
        .category-field
          .category-description
            %h4= recipe_group.name
            %p= recipe_group.description

          %fieldset.recipe-selector
            - recipe_group.recipes.each do |recipe|
              .recipe-pair
                = check_box_tag :recipe_ids, recipe.id, @soloist_script.recipes.include?(recipe), :name => 'soloist_script[recipe_ids][]'
                = label_tag :recipe_ids, recipe.name
                = link_to "view recipe", recipe.github_url, :class => "view-recipe", :target => "_blank"

      .submit_button
        = f.submit "create my script", :class => "awesome"