#sw-custom-form
  = form_tag soloist_scripts_path, :id => "new_soloist_script" do
    #sw-customizer
      = render "soloist_scripts/error_messages"

      .category-field
        .category-description
          %h4 Development Stack
          %p description

        %fieldset.recipe-selector
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:activemq", :checked => true
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:mysql", :checked => true
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:nginx", :checked => true
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:node_js", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:memcached", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:solr", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:java", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:imagemagick", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:mongodb", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:selenium_webdriver", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:rabbitmq", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:postgres", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:pg_admin", :checked => false




      .category-field
        .category-description
          %h4 General Software
          %p description

        %fieldset.recipe-selector
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:chrome", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:firefox", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:dropbox", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:libreoffice", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:skype", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:virtualbox", :checked => false

      .category-field
        .category-description
          %h4 OS-X
          %p description

        %fieldset.recipe-selector
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:active_corners", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:lion_basedev", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:keycastr", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:locate_on", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:ccmenu", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:mouse_locator", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:osx_updates", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:defaults_fast_key_repeat_rate", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:disable_front_row", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:dock_preferences", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:finder_display_full_path", :checked => false


      .category-field
        .category-description
          %h4 .bash_profile
          %p description

        %fieldset.recipe-selector
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_path_order", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_profile-arch_flags", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_profile-better_history", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_profile-ctrl-o", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_profile-ctrl-s", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_profile-git_completion", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_profile-no_sudo_gem_install", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_profile-ps1", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_profile-ree_settings", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:bash_profile", :checked => false

      .category-field
        .category-description
          %h4 Command Line Tools
          %p description

        %fieldset.recipe-selector
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:ack", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:homebrew", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:rbenv", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:rvm", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:ec2_api_tools", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:zsh", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:unix_essentials", :checked => false



      .category-field
        .category-description
          %h4 Source Control
          %p description

        %fieldset.recipe-selector
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:git", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:git_config_global_defaults", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:git_projects", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:git_scripts", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:github_for_mac", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:github_ssh_keys", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:gitx", :checked => false

      .category-field
        .category-description
          %h4 Text Editors
          %p description

        %fieldset.recipe-selector
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:vim", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:textmate", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:textmate_bundles", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:textmate_plugins", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:textmate_preferences", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:rubymine", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:rubymine_preferences_pivotal", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:default_editor", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:intellij_community_edition", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:joe", :checked => false

      .category-field
        .category-description
          %h4 Etcettera
          %p description

        %fieldset.recipe-selector
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:gem_no_rdoc_no_ri", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:google_chrome_prevent_updates", :checked => false



          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:add_ops_user", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:global_environment_variables", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:inputrc", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:iterm_set_defaults", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:jumpcut", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:menumeters", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:meta_osx_base", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:meta_osx_development", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:meta_pivotal_lion_image", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:meta_pivotal_specifics", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:meta_ruby_development", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:pivotal_logos", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:remove_garageband", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:rename_machine", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:safari_preferences", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:screen_sharing_app", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:screen_sharing_on", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:set_finder_show_hd_on_desktop", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:set_multitouch_preferences", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:set_screensaver_preferences", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:sizeup", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:ssh_copy_id", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:sshd_on", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:ssl_certificate", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:svn", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:terminal_focus", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:terminal_preferences", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:timemachine_preferences", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:user_owns_usr_local", :checked => false
          = render "soloist_scripts/recipe_checkbox", :name => "pivotal_workstation:workspace_directory", :checked => false


      .submit_button
        = submit_tag "create my script", :class => "awesome"