#sw-tagline
  %p Many teams use chef to manage their production machines, but developers often build their development boxes by hand.  SoloWizard makes it painless to create a customized chef solo script to get your development machine humming: mysql, sublime text, .bash_profile tweaks to OS-X settings - it's all there!

#sw-explained
  #sw-description
    %p.built-upon
      SoloWizard is built ontop of 3 popular and well supported open source projects:
      = "#{link_to 'Chef Solo', 'http://wiki.opscode.com/display/chef/Chef+Solo', :target => '_blank'}, the #{link_to 'pivotal_workstation', 'https://github.com/pivotal/pivotal_workstation', :target => '_blank'} cookbook, and the #{link_to 'soloist', 'https://github.com/mkocher/soloist', :target => '_blank'} gem.".html_safe

    .dependencies
      %p Dependencies:
      %ul
        %li OS-X Mountain Lion
        %li
          X-Code installed
          =link_to "(install how-to)", "#"


  #sw-video
    :plain
      <iframe src="http://player.vimeo.com/video/25329849?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


- if @default_soloist_script.present?
  #sw-default
    %h3 Option 1 - use our default install script w/ sensible defaults:
    %pre.code
      = @default_soloist_script.shell_install_command
    %p
      Executing this one command will install all of the software which is checked below.
    %p
      Note: If you'd rather download the script, you can save the
      = link_to "file", soloist_script_url(@default_soloist_script, :format => "sh")
      to your hard drive.



#sw-custom
  %h3 Option 2 - create a custom SoloWizard script:
  %p Select your recipes and click the button - we will build a custom script for you, which you can bookmark or share with others.
  = render "soloist_scripts/form"