#sw-tagline
  %p.tldr tl;dr: You are a few clicks away from a configurable chef script for your OS-X development machine.

#sw-explained
  #sw-description
    %p Many teams use chef to manage their production machines, but developers often build their development boxes by hand.  SoloWizard makes it painless to create a configurable chef solo script to get your development machine humming: mysql, sublime text, .bash_profile tweaks to OS-X settings - it's all there!
    %p
      Dependencies: Xcode and OS-X Mountain Lion
      = link_to "(read the faq for more details)", "#faq-dependencies"

  #sw-video
    :plain
      <iframe width="340" height="191" src="http://www.youtube.com/embed/OI1rQXDXfEg" frameborder="0" allowfullscreen></iframe>

#sw-custom
  %h3 create your personal Solo Wizard script:
  %p Select which recipes you'd like to use and then click the button - we will build a chef script for you, which you can bookmark or share with others.
  = render "soloist_scripts/form"

#sw-faq
  %ul
    %li.qa#faq-built-upon
      .question
        .left Q:
        .right How does it work?
      .answer
        .left A:
        .right
          SoloWizard is built ontop of 3 popular and well supported open source projects:
          = "#{link_to 'Chef Solo', 'http://wiki.opscode.com/display/chef/Chef+Solo', :target => '_blank'}, the #{link_to 'pivotal_workstation', 'https://github.com/pivotal/pivotal_workstation', :target => '_blank'} cookbook, and the #{link_to 'soloist', 'https://github.com/mkocher/soloist', :target => '_blank'} gem.".html_safe

    %li.qa#faq-dependencies
      .question
        .left Q:
        .right Do I need to have Xcode installed and be running on Mountain Lion?

      .answer
        .left A:
        .right
          Sorta.
          %p
            %strong Xcode:
            Many of the recipes use homebrew which require some utilites your mac doesn't have by default.
            You have 2 options: install Xcode from the App Store,
            or install the Xcode Command Line Tools from Apple's developer site.

          %p
            Xcode is a whopping 5GB's, so the command line tools are a faster download,
            but if you are interested in iPhone development, I would just go with Xcode.  Its up to you!

          %p
            For details on how to install the Xcode Command Line Tools, here's a good
            = link_to "blog article.", "http://www.bloggure.info/work/installing-homebrew-without-xcode.html", :target => "_blank"

          %br
          %p
            %strong Mountain Lion:
            The most up to date pivotal_workstation recipes are only compatible with Mountain Lion.
            If you are on Lion and are willing to run recipes which are no longer supported, here are the steps:

          %ol
            %li
              Make sure you don't have any recipes checked which aren't present on the "last_lion_release" tag:
              = link_to "view the last_lion_release recipes", "https://github.com/pivotal/pivotal_workstation/tree/last_lion_release/recipes", :target => "_blank"
            %li Create a Solo Wizard script like normal
            %li Download the Solo Wizard shell script locally.
            %li
              Add the following line right before the line which has "soloist":
              %br
              %code cd pivotal_workstation && git checkout last_lion_release && cd ..
            %li Run the script and hope for the best!

    %li.qa#faq-multiple-runs
      .question
        .left Q:
        .right Can I run Solo Wizard multiple times?

      .answer
        .left A:
        .right
          Sure! The first time you run Solo Wizard it will clone the pivotal_workstation git repo. If you run it again, it will pull down any updates.
