!!!
%html
  %head
    %title SoloWizard
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render "shared/fork_me_on_github"
    #wrapper
      #header
        %h1 SoloWizard
        %h2 Who says you can't bootstrap your machine with a one-liner?

      #content
        = yield

    #footer
      %p
        Contact me:
        = link_to "@tommyhallett", "http://twitter.com/tommyhallett", :target => "_blank"
        or open an issue on github:
        = link_to "tommyh/solo_wizard", "https://github.com/tommyh/solo_wizard", :target => "_blank"

    = include_analytics_tracking